In [1]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder
import matplotlib.pyplot as plt
%matplotlib inline
import warnings 
warnings. filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression

In [2]:
data = pd.read_csv('Titanic-Dataset.csv')
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
data.drop(columns = ['Cabin', 'Ticket', 'Name'], inplace = True)

In [7]:
data.Age.fillna(data['Age'].median(), inplace = True)

In [8]:
data = data.dropna()

In [9]:
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [10]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Sex             object
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Embarked        object
dtype: object

In [11]:
data

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,male,22.0,1,0,7.2500,S
1,2,1,1,female,38.0,1,0,71.2833,C
2,3,1,3,female,26.0,0,0,7.9250,S
3,4,1,1,female,35.0,1,0,53.1000,S
4,5,0,3,male,35.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,13.0000,S
887,888,1,1,female,19.0,0,0,30.0000,S
888,889,0,3,female,28.0,1,2,23.4500,S
889,890,1,1,male,26.0,0,0,30.0000,C
890,891,0,3,male,32.0,0,0,7.7500,Q

In [12]:
scale = StandardScaler()
numeric_columns = ['Age', 'Fare']
data[numeric_columns] = scale.fit_transform(data[numeric_columns])

In [13]:
categorical_columns = ['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked']
encoder = LabelEncoder()

for column in categorical_columns:
    data[column] = encoder.fit_transform(data[column])
#data[categorical_columns] = encoder.fit_transform(data[categorical_columns])

In [14]:
#Select the feature and target for our models
y = data['Survived']
X = data.drop(columns=['Survived'])
#perform the train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [15]:

#Insntiate the Logistic Regression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
# Create predictions for the sets
X_pred = logreg.predict(X_train)
y_pred = logreg.predict(X_test)

train_report = classification_report(y_train, X_pred)
test_report = classification_report(y_test, y_pred)



print('The training report is:','\n',train_report, '\n')
print('The test report is:', '\n', test_report)

The training report is:
               precision    recall  f1-score   support

           0       0.82      0.85      0.84       408
           1       0.75      0.71      0.73       258

    accuracy                           0.80       666
   macro avg       0.79      0.78      0.78       666
weighted avg       0.80      0.80      0.80       666


The test report is:
               precision    recall  f1-score   support

           0       0.85      0.82      0.83       141
           1       0.71      0.74      0.73        82

    accuracy                           0.79       223
   macro avg       0.78      0.78      0.78       223
weighted avg       0.80      0.79      0.79       223

In [16]:
#instantiate and fit the Decisoin tree classifier on to the train and test sets
clf = DecisionTreeClassifier(random_state=42)
clf.fit(X_train, y_train)
#Create the predictions for the train and test set
y_train_pred = clf.predict(X_train)
y_test_pred = clf.predict(X_test)
#Create a classification report that will give the metrics for succes
clf_train_report = classification_report(y_train, y_train_pred)
clf_test_report = classification_report(y_test, y_test_pred)
#Print the results of theclassification report
print('The training report for Decision tree is:','\n',clf_train_report, '\n')
print('The test report for Decision tree is:', '\n', clf_test_report)

The training report for Decision tree is:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00       408
           1       1.00      1.00      1.00       258

    accuracy                           1.00       666
   macro avg       1.00      1.00      1.00       666
weighted avg       1.00      1.00      1.00       666


The test report for Decision tree is:
               precision    recall  f1-score   support

           0       0.81      0.75      0.78       141
           1       0.62      0.70      0.66        82

    accuracy                           0.73       223
   macro avg       0.71      0.72      0.72       223
weighted avg       0.74      0.73      0.73       223

In [17]:
from sklearn.svm import SVC

svc = SVC(kernel='rbf', random_state=42)
svc.fit(X_train,y_train)

svm_train_pred = svc.predict(X_train)
svm_test_pred = svc.predict(X_test)

svm_train_report = classification_report(y_train, svm_train_pred)
svm_test_report = classification_report(y_test, svm_test_pred)

print('The training report for SVM is:','\n',svm_train_report, '\n')
print('The test report for SVM tree is:', '\n', svm_test_report)

The training report for SVM is:
               precision    recall  f1-score   support

           0       0.61      1.00      0.76       408
           1       0.00      0.00      0.00       258

    accuracy                           0.61       666
   macro avg       0.31      0.50      0.38       666
weighted avg       0.38      0.61      0.47       666


The test report for SVM tree is:
               precision    recall  f1-score   support

           0       0.63      1.00      0.77       141
           1       0.00      0.00      0.00        82

    accuracy                           0.63       223
   macro avg       0.32      0.50      0.39       223
weighted avg       0.40      0.63      0.49       223

In [18]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)

rfc_train_pred = rfc.predict(X_train)
rfc_test_pred = rfc.predict(X_test)

rfc_train_report = classification_report(y_train, rfc_train_pred)
rfc_test_report = classification_report(y_test, rfc_test_pred)

print('The training report for SVM is:','\n',rfc_train_report, '\n')
print('The test report for SVM tree is:', '\n', rfc_test_report)

The training report for SVM is:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00       408
           1       1.00      1.00      1.00       258

    accuracy                           1.00       666
   macro avg       1.00      1.00      1.00       666
weighted avg       1.00      1.00      1.00       666


The test report for SVM tree is:
               precision    recall  f1-score   support

           0       0.83      0.87      0.85       141
           1       0.76      0.70      0.73        82

    accuracy                           0.81       223
   macro avg       0.80      0.78      0.79       223
weighted avg       0.80      0.81      0.81       223